@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');


body {
  font-family: 'Open Sans', sans-serif;
}

.wrapper {
  width: 80vw;
}

/**
 * Main header
 */

#main-menu {
  background-color: rgb(237,28,36);
  color: white;
}

.nav-link {
  color: rgba(255,255,255,0.9)!important;
}

.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
  color: white!important;
}

.wrapper {
  max-width: 80vw;
  margin: auto;
}
 

#main-container {
  padding: 30px 0 30px 0;
}

#main-container h1, #main-container h2, #main-container h3, #main-container h4, #main-container h5 {
  margin-bottom: 15px;
}

.navbar-toggler {
  color: white!important;
  border: none!important;
}

section {
  margin: 30px 0 30px 0;
}

.btn-outline-success {
  color: #1E7D34!important;
}

.btn-outline-success:hover {
  color: white!important;
}

a.navbar-brand {
  color: white!important;
}